<div class="container">
    <div class="row pt-4 mb-5">
        <div class="w-50">
            <button class="btn btn-outline-primary w-100"
            (click)="prev()"
            ><strong>Anterior</strong></button>
        </div>
        <div class="w-50">
            <button class="btn btn-outline-secondary w-100"
            (click)="next()"
            ><strong>Següent</strong></button>
        </div>
    </div>
</div>

<div class="container">
    <p [ngStyle]="{'background-color': 'rgba(255, 255, 255, 0.6)'}"
     *ngFor="let sentence of sentences; let i = index"
    [ngClass]="{backgroundOrange: currentIndexSentence === i}">
        {{sentence.txt}}
    </p>
</div>