p {
    width: 100%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}
.backgroundOrange {
    background-color: #ffc0cb;
}

/* .pepe body {
    background-color: black;
} */

@import '~bootstrap/dist/css/bootstrap.css';